<mat-card xmlns="http://www.w3.org/1999/html">
  <mat-card-title>Alterar Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput [(ngModel)]="product.name" placeholder="Nome" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="product.price" placeholder="Preço (R$)" name="price">
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary"  (click)="atualizarProduto()">
    Atualizar
  </button>
  <button mat-raised-button color="warn" (click)="cancel()">
    Cancelar
  </button>
</mat-card>
